.tasks {
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "title toggler button"
    "tasks tasks tasks";
  margin: 10px 30px 0;
}

.tasks__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: tasks;
  margin-top: 0;
}